.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background: white !important;
    outline: none;
    border-radius: 20px;
}
